* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import 'styles/mixins' ;
body {
    padding: 26px;

    .content{
        padding-top: 80px;
       
        .pict-content {
           float: right;
            max-width: 360px;
            margin: 14px;
            height: 230px;
            border: 3px solid #424242;
            box-shadow: 2px 2px 4px 3px #b3b3b3;
            
        }
    }
}

#hd {
    display: flex;
    flex-flow:  row nowrap;
    border-bottom: 2px solid #366669;
    
    #box-logo {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 10%;

        h3 {
            display: inline-block;
            font-size: 18px;
            padding-left: 10px;
            padding-right: 16px;
            padding-top: 18px;
            color: #ffffff;
            background-color: #055e64; 
        }

        #pict-logo {
            
            max-width: 96%;
            flex: 1 1 150px;
           
        }

    }

    #box-nav {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 74%;
        justify-content: center;
        text-align: center;
        align-items: center;
            
        li {
            list-style-type: none;
        
            #uppnav1,
            #uppnav2,
            #uppnav3, 
            #uppnav3,
            #uppnav4,
            #uppnav5,
            #uppnav6 {
                @include upp-menu;
           }

            #uppnav1:hover, 
            #uppnav2:hover, 
            #uppnav3:hover, 
            #uppnav4:hover, 
            #uppnav5:hover, 
            #uppnav6:hover {
                opacity: 0.5;
            } 
        }
    }
}





