* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import 'styles/mixins' ;
@import 'styles/languages';
@import 'styles/header';
@import 'styles/content';
@import 'styles/botom';
@import 'styles/media-header';
@import 'styles/media-content';
@import 'styles/auto-cat';







