
#hd {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 2px solid #2c3b41; 
    /*background:linear-gradient(#e2e3e4, #314458) ;*/
    background-image: url(picts/upmenu/up-background-11.jpg);
    background-size: cover;
    height: 400px;
  
 
    #box-logo {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 12%;
        align-items: flex-start;
        border: 1px solid #cccccc;

        h3 {
            display: inline-block;
            font-size: 32px;
            padding: 10px; 
            color: #ffe986;
            text-align: left;
            border: 1px solid #ffe986;
        }

        #pict-logo {
            max-width: 60%;
        }

        #dropdown {
            display: none;
            border: 1px solid #d8d8d8;

            #menu-button {
                display: inline-block;
                font-family: 'Open sans', Roboto, Geneva, Verdana, sans-serif;
                color: #ffffff;
                background-color: #055c7e;
                font-size: 14px;
                padding: 3px;
            }
            #fall-menu {
                position: absolute;
                border: 1px solid #ffe986;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px #d8d8d8;
                background-color: #131416;
                z-index: 10;
            }

            .dropdown-hide {
                display: none;
            }

            .dropdown-show {
                display: block;

                a {
                    display: block;
                    padding: 6px;
                    font-family: 'Open sans', Roboto, Geneva, Verdana, sans-serif;
                    color: #ffffff;
                    text-decoration: none;
                }

            }
        }
    }

    #nav-info {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 70%;
        border: 1px solid #cccccc;
    
        #box-info {
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 74%;
            justify-content: center;
            border: 1px solid #cccccc;

            p {
                color: #afafaf;
                margin-top: 20px;
                font-size: 18px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
   
        #box-nav {
            display: flex;
            flex-flow: row wrap;
            flex: 1 1 74%;
            justify-content: center;
            align-items: flex-end;
            border: 1px solid #cccccc;
           
            a {
                @include upp-menu;
        
            }

            a:hover {
                opacity: 0.5;
            } 

            #page-home & #uppnav1,
            #page-aboutme & #uppnav2,
            #page-portfolio & #uppnav3,
            #page-blog & #uppnav4, 
            #page-cv & #uppnav5 {
                color: #ffe986;
                text-shadow: 1px 2px #000000;
            }

        } 
        
    }

    
}  









