
#hd {

    #switch-lang {
        margin: 0 14px;
        position: absolute;
        right: 5%;

        a { 
            display: inline-block;
            padding: 6px;
            margin: 0 4px;
            font-size: 12px;
            font-family: 'Open sans', Roboto, Geneva, Verdana, sans-serif;
            color: #f0f8ff;
            text-decoration: none;
            background-color: #194563;
            border: #082430;
        }

        a:hover {
            background-color:  #0261a0; 
        }
    }
}