@media (max-width: 420px) {

    body {
        
        .content{
            padding: 8px;

            h1 {
                margin-bottom: 6px;
                font-size: 18px;
            }

            p {
                font-size: 14px;
                margin-bottom: 6px ;
            }
            
            .pict-box {
                display: flex;
                flex-flow: 1 1 80%;
            
            }
        }
    }
}