@media (max-width: 560px) {

    #hd {
       
        height: 70px;

        #box-logo {
            h3 {
                font-size: 28px;
                padding: 6px;
                text-align: right;
            }

            #dropdown {
                display: block;
                position: relative;
            }
        }

        #nav-info {
            display: none; 
        }

    }
}
